.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
.noselect {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
  cursor: pointer;
}
.center {
  margin: auto;
  width: 10%;
  padding-top: 100px;
}